@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="">Create Simple ATS Friendly Resume!</h3>
    <a href="@Url.Action("Index", "Candidate")" class="mt-3 btn btn-outline-info btn-lg">Let's Start</a>
</div>
